<launch>

<!-- University of Bonn, Department of Computer Science VI,  LAB mobile robots -->
<!-- Launch file using the stage simulation -->

<!-- start stage node -->
	<node pkg="stage_ros" name="stageros" type="stageros" output="screen" args="$(find AIS_worlds)/LBH_floor_1.world">
 <remap from="base_scan" to="laserscan"/>
	</node>

<!-- start scanner node -->
	<node pkg="llab_01" type="scanner" output="screen" name="Scanner">
	</node>

</launch>
